<section style="height: 82%;">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-4">
        <div class="box-simple">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4>Facebook</h4>
            <p>
              <a href="https://www.facebook.com/ReseauRavitaillementDesLuttesRennes/">Retrouvez-nous sur Facebook</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box-simple">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4>Instagram</h4>
            <p>
              <a href="https://www.instagram.com/p/BjqwXgaAAFl/?taken-by=plats_et_resistances">Retrouvez-nous sur Instagram</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box-simple">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="content">
            <h4>Adresse Physique</h4>
            <p>
              machin machin<br>
              2315648 rue machin<br>
              3213579 machin<br>
              France
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
