<!-- Carousel Banner -->
<div id="carousel-home" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-target="#carousel-home" data-slide-to="0"></li>
    <li class="" data-target="#carousel-home" data-slide-to="1"></li>
    <li class="" data-target="#carousel-home" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/43660218_299481973984480_5994314429997514752_n.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=02cc885a224566210d17e2f3f4d2d019&oe=5C44F0DC');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">Réseau de Ravitaillement des luttes</h1>
        <p class="super-paragraph">Sous-titre</p>
      </div>
    </div>
    <div class="item" style="background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/43582715_299480880651256_1932601288810299392_n.jpg?_nc_cat=101&_nc_ht=scontent-cdg2-1.xx&oh=9d58fe8d9578560c19e7bfca2c930155&oe=5C417C56');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">Réseau de Ravitaillement des luttes</h1>
        <p class="super-paragraph">Sous-titre</p>
      </div>
    </div>
    <div class="item" style="background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/42992925_297389120860432_3556008229873909760_n.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=a309149ec2c16ccba6754c65782bf974&oe=5C6339CC');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">Réseau de Ravitaillement des luttes</h1>
        <p class="super-paragraph">Sous-titre</p>
      </div>
    </div>
  </div>
</div>
<!-- articles.last do -->
<!-- Article le plus récent -->
<section class="background-grey-lightest negative-margin">
  <div class="container">
    <h1>Article le plus récent</h1>
    <p class="lead">Texte d'accroche de l'article</p>
    <p>
      <a href="" class="btn btn-ghost">Lire la suite</a>
    </p>
  </div>
</section>
<!-- end -->
<!-- articles moins récents -->
<section class="section--padding-bottom-small">
  <div class="container">
    <div class="row">
      <% Article.all.each do |article| %>
      <div class="col-sm-6">
        <div class="post">
          <div class="image">
            <a href="">
              <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/43660218_299481973984480_5994314429997514752_n.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=02cc885a224566210d17e2f3f4d2d019&oe=5C44F0DC" alt="">
            </a>
          </div>
          <h3>
            <%= article.title %>
          </h3>
          <p class="post__intro">
            <%= article.body %>
          </p>
          <p class="read-more">
            <a class="btn btn-ghost" href="">Lire la suite</a>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

