<div class="jumbotron main-jumbotron">
  <div class="container">
    <div class="content">
      <h1>Site d'informations du réseau de ravitaillement des luttes</h1>
      <p class="margin-bottom">Sous-titre ici</p>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <h2>Titre 1</h2>
    <p class="lead">
      Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
    </p>
    <p>
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
    </p>
  </div>
</section>
