<section id="portfolio" class="background-gray-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading">Photos</h1>
        <p class="lead">Quelques photos</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-space">
      <!--
        images.each do
      -->
      <div class="col-sm-4 col-xs-6">
        <div class="box">
          <a href="../images/image1.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 1">
            <img class="img-responsive" src="../images/image1.jpg" alt="">
          </a>
        </div>
      </div>
      <!--
        end
      -->
    </div>
  </div>
</section>
