<section id="portfolio" class="section--no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Gallerie de photos</h1>
        <p class="lead margin-bottom--big">
          Quelques photos du réseau
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-space">
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 1">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/43660218_299481973984480_5994314429997514752_n.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=02cc885a224566210d17e2f3f4d2d019&oe=5C44F0DC" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 2">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/43582715_299480880651256_1932601288810299392_n.jpg?_nc_cat=101&_nc_ht=scontent-cdg2-1.xx&oh=9d58fe8d9578560c19e7bfca2c930155&oe=5C417C56" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 3">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/42992925_297389120860432_3556008229873909760_n.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=a309149ec2c16ccba6754c65782bf974&oe=5C6339CC" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 4">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/42992878_297389067527104_8529685422131904512_n.jpg?_nc_cat=101&_nc_ht=scontent-cdg2-1.xx&oh=9a2b54ff8255a896d1ae526f6cda9e3b&oe=5C628B13" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="row no-space">
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 5">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/42377465_294909337775077_8414378254747566080_n.jpg?_nc_cat=111&_nc_ht=scontent-cdg2-1.xx&oh=e5f9420a8b875692196ffc8140dc9fde&oe=5C4CF189" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 6">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/42289160_294055944527083_3959885913344966656_n.jpg?_nc_cat=110&_nc_ht=scontent-cdg2-1.xx&oh=b7bcf119fe6a054f20560f2fa7391660&oe=5C51B77E" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <div class="box">
          <a href="" title="" data-lightbox="portfolio" data-title="Portfolio image 7">
            <img class="img-responsive" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/42249276_294055871193757_1849621051772764160_n.jpg?_nc_cat=108&_nc_ht=scontent-cdg2-1.xx&oh=d09fac4bcb248105a23a97d103c630b4&oe=5C40E25D" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
