<footer class="footer">
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Réseau de ravitaillement des luttes, 2018</p>
        </div>
        <div class="col-md-6">
          <p class="credit">
            Template by
            <a class="external" href="https://bootstrapious.com/free-templates">Bootstrapious.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
