<header class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Réseau de Ravitaillement des luttes</a>
        <div class="navbar-buttons">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">
            Menu
            <i class="fa fa-align-justify"></i>
          </button>
        </div>
      </div>
      <div id="navigation" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to 'Accueil', root_path %>
          </li>
          <li class="active">
            <%= link_to 'Infos', infos_path %>
          </li>
          <li class="active">
            <%= link_to 'Photos', photos_path %>
          </li>
          <li class="active">
            <%= link_to 'Contact', contact_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
