<header>
  <h1>Réseau de Ravitaillement des luttes</h1>
  <ul>
    <li>
      <%= link_to 'Accueil', root_path %>
    </li>
    <li>
      <%= link_to 'Infos', infos_path %>
    </li>
    <li>
      <%= link_to 'Photos', photos_path %>
    </li>
  </ul>
</header>
